<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Input Data Siswa</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>

    <body class="blue-theme">
        <a href="/" class = "home-button-display">Kembali ke Home</a>
        <h2>Input Data Siswa Baru</h2>
        <div class="form-container">
            {% if error %}
                <p style="color: red;">{{error}}</p>
            {% endif %}
            <form action="/input_student" method="post">
                <label for="name">Nama Siswa:</label>
                <input type="text" name="name" id="name" placeholder="Masukan nama siswa" required>
                <br>
                <label for="student_class">Class:</label>
                <input type="text" name="student_class" id="student_class" placeholder="Masukan kela siswa" required>
                
                <input type ="submit" value="Submit">
            </form>
        </div>
    </body>
</html>