<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tampilkan Semua Data Siswa</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <!-- <style>
            body{
                background-color: #FDFD96;
            }
        </style> -->
    </head>

    <body>
        <a href="/" class = "home-button-display">Kembali ke Home</a>
        <h1>Semua Nilai Siswa</h1>
        <br>
        <table>
            <thread>
                <tr>
                    <th>Name</th>
                    <th>Subject</th>
                    <th>Score</th>
                    <th>Date</th>

                </tr>
            </thread>
            <tbody>
                {% for grade in grade_list %}
                <tr>
                    <td>{{ grade.name}}</td>
                    <td>{{ grade.subject_name}}</td>
                    <td>{{ grade.score      }}</td>
                    <td>{{ grade.date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </body>
</html>