<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Website School BCA</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body class="blue_theme">
        <h2>Selamat Datang di Sekolah BCA</h2>
        <br>
        <div class="menu">
            <a href="/input_student" class="menu-button">Input Student Data</a>
        </div>
        <div class="menu">
            <a href="/input_grade" class="menu-button">Input Grade Student</a>
        </div>
        <div class="menu">
            <a href="/display_all_student" class="menu-button">Show Student Data</a>
        </div>
        <div class="menu">
            <a href="/display_all_grade" class="menu-button">Show Grade Student</a>
        </div>
    </body>
</html>
